@keyframes rotateClockwise {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes rotateCounterClockwise {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }
#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.8); }

#loading-img {
  width: 6rem;
  height: 6rem;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 100%;
  border: .5rem dashed orange;
  box-sizing: border-box;
  animation: rotateClockwise 3s linear infinite; }
  #loading-img::after {
    position: absolute;
    content: '';
    border-radius: 100%;
    border: .5rem dashed purple;
    box-sizing: border-box;
    width: 90%;
    height: 90%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: block;
    animation: rotateCounterClockwise 1.5s linear infinite; }
  #loading-img::before {
    position: absolute;
    content: '';
    border-radius: 100%;
    border: .5rem dashed red;
    box-sizing: border-box;
    width: 60%;
    height: 60%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: block; }

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 75px;
  transition: all .25s; }
  header img:first-child {
    display: block; }
  header img:last-child {
    display: none; }
  header.colored {
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #000; }
    header.colored .topnav a {
      color: #000; }
      header.colored .topnav a:hover {
        background-color: #eee;
        color: #111; }
    header.colored img:first-child {
      display: none; }
    header.colored img:last-child {
      display: block; }
  header .logo {
    display: inline-block;
    max-width: 30%;
    height: 90%;
    padding-top: .25rem;
    margin-bottom: .5rem;
    padding-left: 1rem; }
    header .logo img {
      max-height: 100%; }
  header #nav-icon {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 2rem;
    margin-right: 2rem;
    z-index: 10;
    display: none; }
    @media screen and (max-width: 480px) {
      header #nav-icon {
        display: block; } }
    header #nav-icon span {
      position: absolute;
      display: block;
      height: 6px;
      width: 100%;
      background-color: #fff;
      border-radius: 4px;
      transform: rotate(0);
      transition: all .25s ease-in-out; }
      header #nav-icon span:nth-child(1) {
        top: 0px; }
      header #nav-icon span:nth-child(2) {
        top: 12px; }
      header #nav-icon span:nth-child(3) {
        top: 24px; }
    header #nav-icon.open span:nth-child(1) {
      top: 12px;
      transform: rotate(135deg); }
    header #nav-icon.open span:nth-child(2) {
      opacity: 0; }
    header #nav-icon.open span:nth-child(3) {
      transform: rotate(-135deg);
      top: 12px; }
  header nav {
    float: right;
    height: 100%;
    margin-right: 2rem; }
    header nav .topnav {
      height: 100%;
      margin: 0 auto; }
      header nav .topnav li {
        float: left;
        list-style: none;
        width: 5rem;
        line-height: 75px;
        height: 100%; }
        header nav .topnav li a {
          width: 100%;
          height: 100%;
          display: block;
          text-decoration: none;
          text-align: center;
          color: #fff;
          font-size: 1.25rem;
          transition: all .5s; }
          header nav .topnav li a:hover {
            background-color: #fff;
            color: #0098ec; }

@media screen and (max-width: 990px) {
  .block.services ul {
    column-count: 2; } }
@media screen and (max-width: 676px) {
  p {
    padding: 1rem; }

  .block.services, .block.about {
    width: 100%;
    padding: 5rem 0 0 0; }
    .block.services ul, .block.about ul {
      column-count: 1;
      width: 100%; }

  .block.info {
    padding: 5rem 0 0 0; }
    .block.info div {
      column-count: 1; } }
@media screen and (max-width: 480px) {
  header nav {
    transition: all .5s;
    float: none;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    top: 0;
    margin-top: -100vh;
    height: 100vh;
    position: absolute;
    overflow: hidden; }
    header nav.height {
      display: block;
      margin-top: 0;
      transition: all .25s; }
    header nav .topnav {
      width: 100%;
      height: 20%;
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      display: block;
      margin: auto; }
      header nav .topnav li {
        float: none;
        width: 100%;
        height: auto;
        font-size: 2rem; }
  header .logo {
    width: 40%;
    margin: 0 auto;
    display: block; } }
body {
  margin: 0 auto;
  width: 100%;
  font-size: 1.15rem;
  font-family: 'Cabin', sans-serif; }
  body p {
    line-height: 1.5rem;
    color: #666;
    font-family: serif;
    text-indent: 2rem;
    margin-bottom: 1rem; }

.block {
  display: block;
  margin: 0 auto; }
  .block h3 {
    font-size: 2.2rem;
    color: #000;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center; }

.info-wrap {
  width: 100%; }

.about {
  border-bottom: .01rem solid #000; }

.info, .about {
  margin: 0 auto;
  max-width: 1024px;
  padding: 5rem; }
  .info div, .about div {
    column-count: 2;
    column-gap: 4rem;
    break-inside: avoid;
    margin: 0 auto; }
    .info div img, .about div img {
      margin: .5rem auto 2rem;
      display: block;
      width: 60%; }

.services-wrap {
  width: 100%;
  background: url("../img/overlay1.png"), url("../img/banner.png");
  background-size: contain, cover; }

.services {
  max-width: 1024px;
  padding: 5rem; }
  .services p {
    color: #fff; }
  .services h3 {
    color: #fff;
    margin-bottom: 2rem; }
  .services ul {
    column-count: 4;
    break-inside: avoid;
    margin: 0 auto;
    width: 100%; }
    .services ul li {
      text-align: center;
      break-inside: avoid;
      height: 650px;
      position: relative;
      transition: all .5s; }
      .services ul li:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.4); }
      @media screen and (max-width: 676px) {
        .services ul li {
          height: auto; } }
      .services ul li img {
        width: 100%; }
        @media screen and (max-width: 990px) {
          .services ul li img {
            position: relative;
            width: 50%;
            margin: 0rem auto; } }
      .services ul li h4 {
        color: #fff;
        font-size: 1.6rem;
        margin-bottom: 2rem; }
        @media screen and (max-width: 676px) {
          .services ul li h4 {
            margin-top: 1.5rem;
            margin-bottom: 1.5rem; } }

.specs div {
  height: 0;
  overflow: hidden;
  transition: all .5s; }

.banner {
  background-image: url("../img/overlay1.png"), url("../img/banner.png");
  background-size: contain, cover;
  height: 50vh;
  min-height: 45rem;
  position: relative; }
  .banner div {
    height: 50%;
    width: 50%;
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center; }
    @media screen and (max-width: 480px) {
      .banner div {
        width: 100%; } }
    .banner div h1 {
      font-size: 3rem;
      font-weight: 900;
      color: #fff; }
    .banner div h2 {
      font-size: 2.5rem;
      color: #fff; }
    .banner div span {
      border-radius: 0;
      background-color: transparent;
      border: solid .1rem #fff;
      width: 10rem;
      height: 4rem;
      font-size: 1.5rem;
      line-height: 4rem;
      display: block;
      margin-top: 10rem;
      margin: 10rem auto 0;
      color: #fff;
      transition: all .4s;
      cursor: pointer; }
      .banner div span:hover {
        background-color: #fff;
        color: #0098ec; }

.foot {
  width: 100%;
  padding-top: 1rem; }
  .foot .icons {
    display: table;
    margin: 0 auto; }
    .foot .icons li {
      display: table-cell;
      padding: 1rem; }
  .foot section {
    width: 100%;
    margin: 0 auto;
    text-align: center; }
  @media screen and (max-width: 480px) {
    .foot {
      padding-top: 0; } }
  .foot footer, .foot nav {
    max-width: 1024px;
    margin: 0 auto;
    display: block; }
  .foot h2 img {
    width: 10%;
    min-width: 5rem;
    margin: 1rem auto;
    display: none; }
  .foot span {
    border-radius: 0;
    background-color: transparent;
    border: solid .1rem #000;
    width: 10rem;
    height: 4rem;
    font-size: 1.5rem;
    line-height: 4rem;
    display: block;
    margin: 2rem auto;
    color: #000;
    transition: all .4s;
    cursor: pointer;
    text-align: center; }
    @media screen and (max-width: 480px) {
      .foot span {
        margin-top: 0;
        width: 100%;
        box-sizing: border-box;
        background-color: #fff;
        color: #0098ec; } }
    .foot span:hover {
      background-color: #ccc;
      color: #0098ec; }
  .foot nav {
    text-align: center; }
    .foot nav ul li {
      display: inline-block;
      width: 4rem;
      height: 3rem;
      margin: 1rem;
      line-height: 3rem; }
      .foot nav ul li a {
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%;
        color: #aaa; }
        .foot nav ul li a:hover {
          color: #fff; }

.modal-wrap {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  display: block;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: none; }
  .modal-wrap .modal {
    width: 40%;
    min-width: 600px;
    max-width: 1024px;
    height: 50%;
    display: block;
    position: absolute;
    background-color: #fff;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 1rem; }
    @media screen and (max-width: 676px) {
      .modal-wrap .modal {
        width: 100%;
        min-width: 0;
        padding-left: 0;
        padding-right: 0; } }
    .modal-wrap .modal h3 {
      font-size: 2.2rem;
      text-align: center; }
    .modal-wrap .modal ul {
      width: 60%;
      margin: 0 auto;
      display: block; }
    .modal-wrap .modal #loading-img {
      display: none; }
    .modal-wrap .modal form {
      width: 90%;
      margin: 0 auto; }
      .modal-wrap .modal form input, .modal-wrap .modal form label, .modal-wrap .modal form textarea {
        display: block;
        width: 100%;
        resize: none; }
      .modal-wrap .modal form button {
        width: 50%;
        margin: .5rem auto;
        display: block; }
    .modal-wrap .modal span {
      border-radius: 0;
      background-color: transparent;
      border: solid .1rem #000;
      width: 10rem;
      height: 4rem;
      font-size: 1.5rem;
      line-height: 4rem;
      display: block;
      margin: 2rem auto;
      color: #000;
      transition: all .4s;
      cursor: pointer;
      text-align: center; }

/*# sourceMappingURL=main.css.map */
