@keyframes rotateClockwise {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes rotateCounterClockwise {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }
#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.8); }

#loading-img {
  width: 6rem;
  height: 6rem;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 100%;
  border: 0.5rem dashed #ffc600;
  box-sizing: border-box;
  animation: rotateClockwise 3s linear infinite; }
  #loading-img::after {
    position: absolute;
    content: '';
    border-radius: 100%;
    border: 0.5rem dashed #6D0CE8;
    box-sizing: border-box;
    width: 90%;
    height: 90%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: block;
    animation: rotateCounterClockwise 1.5s linear infinite; }
  #loading-img::before {
    position: absolute;
    content: '';
    border-radius: 100%;
    border: .5rem dashed red;
    box-sizing: border-box;
    width: 60%;
    height: 60%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: block; }

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 75px;
  transition: all .25s;
  background-color: rgba(255, 255, 255, 0.7);
  background-color: #ffc600; }
  header .wrap {
    height: 100%;
    display: block;
    max-width: 1250px;
    margin: 0 auto; }
  header img:first-child {
    display: block; }
  header .logo {
    display: inline-block;
    max-width: 30%;
    height: 90%;
    padding-top: .2rem;
    margin-bottom: .5rem;
    padding-left: 1rem; }
    header .logo img {
      max-height: 100%; }
  header #nav-icon {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 2rem;
    margin-right: 2rem;
    z-index: 10;
    display: none; }
    @media screen and (max-width: 480px) {
      header #nav-icon {
        display: block; } }
    header #nav-icon span {
      position: absolute;
      display: block;
      height: .12rem;
      width: 100%;
      background-color: #fff;
      border-radius: 4px;
      transform: rotate(0);
      transition: all .25s ease-in-out; }
      header #nav-icon span:nth-child(1) {
        top: 0px; }
      header #nav-icon span:nth-child(2) {
        top: 12px; }
      header #nav-icon span:nth-child(3) {
        top: 24px; }
    header #nav-icon.open span {
      background-color: red; }
      header #nav-icon.open span:nth-child(1) {
        top: 12px;
        transform: rotate(135deg); }
      header #nav-icon.open span:nth-child(2) {
        opacity: 0; }
      header #nav-icon.open span:nth-child(3) {
        transform: rotate(-135deg);
        top: 12px; }
  header nav {
    float: right;
    height: 100%;
    margin-right: 2rem; }
    header nav .topnav {
      height: 100%;
      margin: 0 auto;
      position: relative; }
      header nav .topnav .hidden-services {
        display: none;
        position: absolute;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.71);
        background-color: #ffc600;
        left: 0; }
        header nav .topnav .hidden-services li a {
          font-size: 1rem; }
        @media screen and (max-width: 480px) {
          header nav .topnav .hidden-services {
            display: block;
            background-color: transparent; } }
        header nav .topnav .hidden-services:hover {
          display: block; }
        header nav .topnav .hidden-services .hidden-service {
          text-align: center;
          display: block;
          width: 100%; }
          @media screen and (max-width: 480px) {
            header nav .topnav .hidden-services .hidden-service a {
              width: 50%;
              float: right;
              clear: both;
              font-size: 1rem;
              text-align: left; } }
      header nav .topnav li {
        float: left;
        list-style: none;
        width: 5rem;
        line-height: 75px;
        height: 100%; }
        @media screen and (max-width: 480px) {
          header nav .topnav li {
            line-height: 50px; }
            header nav .topnav li:last-child {
              clear: both; } }
        header nav .topnav li a, header nav .topnav li span {
          cursor: pointer;
          width: 100%;
          height: 100%;
          display: block;
          text-decoration: none;
          text-align: center;
          color: #fff;
          font-size: 1.25rem;
          transition: all .5s; }
          @media screen and (max-height: 800px) {
            header nav .topnav li a, header nav .topnav li span {
              font-size: 1rem; } }
          header nav .topnav li a:hover, header nav .topnav li span:hover {
            color: #b3b3b3; }
        header nav .topnav li span:hover ~ .hidden-services {
          display: block; }
        @media screen and (max-width: 480px) {
          header nav .topnav li span:hover {
            color: #fff; } }

@media screen and (max-width: 990px) {
  .block.services ul {
    column-count: 1; }
    .block.services ul li {
      width: 100%;
      display: inline-block; } }
@media screen and (max-width: 676px) {
  p {
    padding: 1rem; }

  .block.services, .block.about {
    width: 100%;
    padding: 5rem 0 0 0; }
    .block.services ul, .block.about ul {
      column-count: 1;
      width: 100%; }

  .block.info {
    padding: 5rem 0 0 0; }
    .block.info div {
      column-count: 1; } }
@media screen and (max-width: 480px) {
  header.colored .topnav a {
    color: #fff; }
  header.colored #nav-icon span {
    background-color: #000; }
  header.colored #nav-icon.open span {
    background-color: red; }
  header nav {
    transition: all .5s;
    float: none;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    top: 0;
    margin-top: -100vh;
    height: 100vh;
    position: absolute;
    overflow: hidden; }
    header nav.height {
      display: block;
      margin-top: 0;
      transition: all .25s; }
    header nav .topnav {
      width: 100%;
      position: absolute;
      right: 0;
      left: 0;
      top: 50%;
      bottom: 0;
      display: block;
      margin: auto; } }
    @media screen and (max-width: 480px) and (max-height: 800px) {
      header nav .topnav {
        top: 10%; } }
@media screen and (max-width: 480px) {
      header nav .topnav li, header nav .topnav .hidden-service {
        float: none;
        width: 100%;
        height: auto;
        font-size: 2rem; }
      header nav .topnav .hidden-services {
        position: relative; }
        header nav .topnav .hidden-services .hidden-service a {
          position: relative; }
        header nav .topnav .hidden-services .hidden-service a::before {
          content: '\276F';
          display: block;
          position: absolute;
          left: -1rem;
          color: #fff; }
  header .logo {
    width: 40%;
    margin: 0 auto;
    display: block; } }
body {
  margin: 0 auto;
  width: 100%;
  font-size: 1.15rem;
  font-family: sans-serif; }
  body p {
    line-height: 1.5rem;
    color: #666;
    font-family: serif;
    text-indent: 2rem;
    margin-bottom: 1rem; }

.block {
  display: block;
  margin: 0 auto; }
  .block h3 {
    font-size: 2.2rem;
    color: #ffc600;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center; }

.info-wrap {
  width: 100%; }

.about {
  border-bottom: .01rem solid #000; }

.banner .aboutbanner {
  column-count: 1; }
  .banner .aboutbanner h1, .banner .aboutbanner h2 {
    display: none; }
    @media screen and (max-width: 676px) {
      .banner .aboutbanner h1, .banner .aboutbanner h2 {
        display: block; } }
  .banner .aboutbanner img {
    max-width: 600px; }

.info, .about {
  margin: 0 auto;
  max-width: 1024px;
  padding: 5rem; }
  .info div, .about div {
    column-count: 2;
    column-gap: 4rem;
    break-inside: avoid;
    margin: 0 auto; }
    .info div img, .about div img {
      margin: .5rem auto 2rem;
      display: block;
      width: 60%; }
  .info ul, .about ul {
    padding: 1rem;
    break-inside: avoid; }
    .info ul li, .about ul li {
      margin: 1rem;
      list-style: square; }

.services-wrap {
  width: 100%;
  background: url("../img/overlay1.png");
  background-color: #6D0CE8;
  background-size: contain; }

.services {
  max-width: 1024px;
  padding: 5rem; }
  .services p {
    color: #fff; }
  .services h3 {
    color: #fff;
    margin-bottom: 2rem; }
  .services ul {
    column-count: 4;
    break-inside: avoid;
    margin: 0 auto;
    width: 100%; }
    .services ul li {
      text-align: center;
      break-inside: avoid;
      position: relative;
      transition: all .5s;
      padding: 1rem; }
      @media screen and (max-width: 676px) {
        .services ul li {
          padding: 0; } }
      .services ul li:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.4); }
      @media screen and (max-width: 676px) {
        .services ul li {
          height: auto; } }
      .services ul li img {
        width: 100%; }
        @media screen and (max-width: 990px) {
          .services ul li img {
            position: relative;
            width: 50%;
            margin: 0rem auto; } }
      .services ul li h4 {
        color: #ffc600;
        font-size: 1.6rem;
        margin-bottom: 2rem; }
        @media screen and (max-width: 676px) {
          .services ul li h4 {
            margin-top: 1.5rem;
            margin-bottom: 1.5rem; } }

.banner {
  background-image: url("../img/overlay1.png"), url("../img/banner.png");
  background-size: contain, cover;
  height: 50vh;
  min-height: 45rem;
  position: relative; }
  .banner strong {
    color: #ffc600;
    display: block; }
  .banner span {
    border-radius: .1rem;
    background-color: transparent;
    border: solid 0.1rem #d7d7d7;
    width: 10rem;
    height: 4rem;
    font-size: 1.5rem;
    line-height: 4rem;
    display: block;
    position: absolute;
    bottom: 4rem;
    left: 0;
    right: 0;
    margin: auto;
    color: #d7d7d7;
    transition: all .4s;
    cursor: pointer;
    text-align: center; }
    .banner span:hover {
      color: #ffc600; }
  .banner div {
    max-width: 1024px;
    padding-top: 125px;
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    column-count: 2;
    break-inside: avoid; }
    .banner div img {
      width: 100%; }
    .banner div h1 {
      font-size: 3rem;
      font-weight: 900;
      color: #d7d7d7;
      margin-top: 5rem; }
      @media screen and (max-width: 720px) {
        .banner div h1 {
          margin-top: 0; } }
    .banner div h2 {
      font-size: 2.5rem;
      color: #d7d7d7; }
    @media screen and (max-width: 990px) {
      .banner div {
        margin: 0 .5rem; }
        .banner div h1 {
          font-size: 2.2rem; }
        .banner div h2 {
          font-size: 1.6rem; } }
    @media screen and (max-width: 720px) {
      .banner div {
        column-count: 1;
        margin: 0; }
        .banner div img {
          width: 300px; } }
    @media screen and (max-width: 480px) {
      .banner div {
        width: 100%; } }

.foot {
  width: 100%;
  padding-top: 1rem;
  background-color: #333; }
  .foot .icons {
    display: table;
    margin: 0 auto; }
    .foot .icons li {
      display: table-cell;
      padding: 1rem; }
      .foot .icons li i {
        color: #fff;
        font-size: 1.5rem;
        cursor: pointer; }
        .foot .icons li i:hover {
          color: #ddd; }
  .foot section {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #fff; }
  .foot span {
    display: none; }
  @media screen and (max-width: 480px) {
    .foot {
      padding-top: 0; } }
  .foot footer, .foot nav {
    max-width: 1024px;
    margin: 0 auto;
    display: block; }
    .foot footer section, .foot nav section {
      padding-bottom: 1rem; }
  .foot h2 img {
    width: 10%;
    min-width: 5rem;
    margin: 1rem auto;
    display: none; }
  .foot span {
    border-radius: 0;
    background-color: transparent;
    border: solid .1rem #000;
    width: 10rem;
    height: 4rem;
    font-size: 1.5rem;
    line-height: 4rem;
    display: block;
    display: none;
    margin: 2rem auto;
    color: #000;
    transition: all .4s;
    cursor: pointer;
    text-align: center; }
    @media screen and (max-width: 480px) {
      .foot span {
        margin-top: 0;
        width: 100%;
        box-sizing: border-box;
        background-color: #fff;
        color: #0098ec; } }
    .foot span:hover {
      background-color: #ccc;
      color: #0098ec; }
  .foot nav {
    text-align: center; }
    .foot nav ul {
      font-size: .9rem;
      display: inline-block;
      vertical-align: text-top;
      width: auto; }
      .foot nav ul p {
        text-align: center;
        text-indent: 0;
        font-family: 'Cabin', serif;
        color: #fff;
        width: 8rem;
        padding: 0; }
      .foot nav ul li {
        display: block;
        width: 8rem;
        margin: .5rem auto;
        font-family: serif;
        font-style: italic; }
        .foot nav ul li a {
          text-decoration: none;
          text-align: center;
          display: block;
          width: 100%;
          height: 100%;
          color: #aaa; }
          .foot nav ul li a:hover {
            color: #fff;
            text-decoration: underline; }

.contact.block.info {
  column-count: 1; }
  .contact.block.info .modal {
    column-count: 1; }
    .contact.block.info .modal h4 {
      display: none;
      text-align: center; }
  .contact.block.info form {
    margin: 0 auto;
    display: block;
    width: 300px; }
  .contact.block.info input, .contact.block.info label, .contact.block.info textarea {
    display: block;
    width: 100%;
    text-align: center;
    margin: .25rem auto; }
  .contact.block.info label {
    text-align: left; }
  .contact.block.info span {
    left: 0;
    bottom: 0;
    border-radius: .1rem;
    background-color: transparent;
    width: 10rem;
    height: 4rem;
    font-size: 1.5rem;
    line-height: 4rem;
    display: table-cell;
    margin: 2rem auto;
    color: #000;
    transition: all .4s;
    cursor: pointer;
    text-align: center; }
  .contact.block.info .button-container {
    width: 100%;
    column-count: 1; }
  .contact.block.info #send {
    background: linear-gradient(to bottom, #4BFF7F, #31FF6D, #27CC57);
    color: #fff;
    margin: 1rem auto;
    display: block; }
    .contact.block.info #send:hover {
      background: linear-gradient(to bottom, #3aee6e, #20ee5c, #16bb46); }

.modal-wrap {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  display: block;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 3;
  display: none; }
  .modal-wrap .modal {
    width: 40%;
    height: 70%;
    min-width: 600px;
    color: #fff;
    max-width: 1024px;
    vertical-align: middle;
    display: block;
    position: absolute;
    background: url("../img/overlay1.png"), url("../img/form.png") no-repeat;
    background-size: cover;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto; }
    @media screen and (max-width: 676px) {
      .modal-wrap .modal {
        width: 100%;
        min-width: 0;
        padding-left: 0;
        padding-right: 0; } }
    .modal-wrap .modal h3 {
      margin-top: 2rem;
      font-size: 2.2rem;
      text-align: center; }
      .modal-wrap .modal h3 strong {
        color: #ffc600;
        display: block; }
    .modal-wrap .modal h4 {
      display: block;
      font-size: 1.6rem;
      text-align: center;
      margin-top: 2rem;
      margin-bottom: 2rem;
      width: 60%;
      margin: 2rem auto; }
    .modal-wrap .modal ul {
      width: 60%;
      margin: 0 auto;
      display: block; }
    .modal-wrap .modal #loading-img {
      display: none; }
    .modal-wrap .modal form {
      width: 90%;
      margin: 0 auto; }
      .modal-wrap .modal form input, .modal-wrap .modal form label, .modal-wrap .modal form textarea {
        display: block;
        width: 100%;
        resize: none;
        margin-bottom: .5rem; }
      .modal-wrap .modal form label {
        text-align: center;
        font-size: .8rem; }
      .modal-wrap .modal form input, .modal-wrap .modal form textarea {
        text-align: center;
        margin-bottom: 1rem; }
      .modal-wrap .modal form textarea {
        min-height: 4rem; }
      .modal-wrap .modal form button {
        width: 50%;
        margin: .5rem auto;
        display: block; }
    .modal-wrap .modal .button-container {
      width: 60%;
      display: table;
      margin: 0 auto;
      border-spacing: 1rem; }
      @media screen and (max-width: 480px) {
        .modal-wrap .modal .button-container {
          display: block;
          width: 90%; }
          .modal-wrap .modal .button-container span {
            display: block;
            width: 100%; } }
    .modal-wrap .modal span {
      left: 0;
      bottom: 0;
      border-radius: .1rem;
      background-color: transparent;
      width: 10rem;
      height: 4rem;
      font-size: 1.5rem;
      line-height: 4rem;
      display: table-cell;
      margin: 2rem auto;
      color: #000;
      transition: all .4s;
      cursor: pointer;
      text-align: center; }
    .modal-wrap .modal #send {
      background: linear-gradient(to bottom, #4BFF7F, #31FF6D, #27CC57);
      color: #fff; }
      .modal-wrap .modal #send:hover {
        background: linear-gradient(to bottom, #3aee6e, #20ee5c, #16bb46); }
    .modal-wrap .modal #close-modal {
      background: linear-gradient(to bottom, #FF4C4B, #FF3231, #CC2827);
      color: #fff; }
      .modal-wrap .modal #close-modal:hover {
        background: linear-gradient(to bottom, #ee3b3a, #ee2120, #bb1716); }

/*# sourceMappingURL=main.css.map */
